.Main{
    margin-top: 50px;
}
/* .Main img{
    height: 25px;
} */
.Main-Stories {
    background-color: #E3E3E3;
    margin-top: 50px;
}
.Main-Stories .container {
    padding: 35px 0px;
}
.Slider-Show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
}
.Slider-Show img {
    max-width: 500px;
    height: 300px;
}
.fundmeText {
    width: 500px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #02A95C;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
}
.carousel-control-next-icon {
    right: 0;
}
.carousel-control-prev-icon {
    left: 0;
}
.Slider-Show .fundmeText {
    max-width: 600px;
}
.Slider-Show .fundmeText h5 {
    color: #666;
}
@media only screen and (max-width: 772px) {
    .Slider-Show {
        flex-direction: column;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }
}