.bigDiv{
font-size: 25px;
display: grid;
gap: 80px;
}


.childtwo{
    /* border: 1px blue solid; */
    width: 800px;
    height: 500px;
    font-size: 25px;
    
    
}


.OneGym{
    margin: auto;
    width: 1400px;
    height: 500px;
    /* background-color: tomato; */
    display: flex;
    margin-top: 100px;
    flex-wrap: nowrap;
    
}

.subscribeBtn{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(255deg,#3906f3,#0326662d);
    margin-top: 50px;
    margin-left: 35px;
    color: white;
}
.subscribeBtn:hover{
    background: linear-gradient(255deg,#167e5b,#01461e2d);
}
.imgGym{
    
        width: 700px;
        height: 500px;
        margin-right: 50px;
        border-radius: 3px;
}

.NameOfTheGym{
    font-family: 'Crimson Pro', serif;
    font-size: 30px;
    margin-top: -30px;
    padding-top: -30px;
}

.name2{
    font-size: 18px;
    margin: 0px;
}