/* body{
    font-size: 7px;
} */



.childtwo{
    /* border: 1px blue solid; */
    width: 500px;
    height: 500px;
    
}

.OneGym{
    margin: auto;
    width: 1200px;
    height: 500px;
    /* background-color: tomato; */
    display: flex;
    margin-top: 50px;
    flex-wrap: nowrap;
    
}

.subscribeBtn{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(255deg,#3906f3,#0326662d);
    margin-top: 50px;
    margin-left: 35px;
    color: white;
}
.subscribeBtn:hover{
    background: linear-gradient(255deg,#167e5b,#01461e2d);
}
.imgGym{
    
        width: 600px;
        height: 500px;
        margin-right: 150px;
        border-radius: 3px;
}

.NameOfTheGym{
    font-family: 'Crimson Pro', serif;
    font-size: 40px;
    margin-top: -30px;
}

.desc{
    font-size: 15px;
} 