* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Crimson Pro', serif;
   
    font-size: 20px;
    font-weight: normal;
}

.footerMain {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);


    margin-top: 125px; 
   position: sticky;
   z-index: 50;

}

.iconDevMain{
    display: flex;
    gap: 4px;
    font-size: 25px;
    color: white;
    /* background-color: thistle;
   */
}
.iconDevMain .facebook{
    font-size: 25px;
}

.copyRight h5 {
    font-size: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 5px;
    font-weight: normal;
}


.copyRight h5 {
    font-size:17px ;
   color: white;
}


.Aboutfooter a {
    text-decoration: none;
    font-size:17px;
    transition: all 0.3s ease 0s;
    color: white;
}

.Aboutfooter {
    margin-right: 10px;
    display: flex;
    gap: 10px;
    color: white;
}

.Aboutfooter a:hover {
    color: rgb(252, 248, 9);
}
.iconDevMain:hover{
    color: rgb(252, 248, 9);
}
@media only screen and (max-width: 992px) {
    .Footer {
        flex-direction: column-reverse;
    }
}
