.divRev {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 450px;
}

.imgReview img {
  width: 10px;
  height: 10px;
}
.imgReview img {
  width: 170px;
  height: 170px;
}
.divRev .inforReview {
  display: grid;
  align-items: left;
  justify-content: left;
  width: 500px;
  height: 200px;
  border-radius: 5px;
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%); */
  /* box-shadow: 10px 10px 5px grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  background-image: linear-gradient( rgb(252, 252, 104), rgb(255, 255, 254));
}
.inforReview img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 29px;
}
.inforReview h5 {
  margin-top: -50px;
  margin-bottom: 0px;
  padding-top: -30px;
  padding-bottom: 0px;
  font-size: small;
}
.review .hdrrev .reh3 {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #c9cc04;
  margin-left: 10px;
}
.review .reh5 {
  font-size: small;
  font-weight: normal;
  margin-top: -35px;
  margin-left: 15px;
}
.review {
  display: grid;
  align-items: center;
  justify-content: center;
}
.hdrrev {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 80px 0px 0px 0px;
}
.inforReview:hover {
  background-color: #f8f5f5;
  box-shadow: 2px 2px 4px #c9cc04;
}
.inforReview {
  padding: 0px;
  font-size: 15px;
  margin-top: 15px;
  color: #212121;
  font-family: cursive;
}
