.userProfile {
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 20px;
  background-color: #f1f7e7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 50px;
}

.leftdiv {
  text-align: left;
  width: 20%;
}

.leftdiv .imgProfile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 40px;
  border: 1px rgb(12, 12, 12) solid;
  margin: 40px 30px 10px 30px;
}

.imgAndInfo {
  width: 15%;
  justify-content: space-around;
  text-align: left;
}

.middleDiv {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: left;
  justify-content: space-between;
  margin: auto;
  gap: 5px;
}

.leftdiv .NameOfUser {
  font-size: 20px;
  margin-left: -40px;
  padding-left: 0px;
}

.middleDiv .details2 {
  font-size: 15px;
  padding-top: 30px;
}

.profileeeBtn {
  width: 90px;
  height: 40px;
  border-radius: 3px;
  background: black;
  margin-top: 20px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition: width 1s;
  margin-top: 10px;
  margin-left: 5px;
}

.AllSubscribtion {
  display: flex;
  gap: 20px;
  width: 35%;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 20px;
}

.restaurantSubscirption {
  box-shadow: 4px 4px 4px 4px #989999;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 15px;
  margin: auto 10px;
  gap: 10px;
  text-align: center;
}

.progress {
  width: 150px;
  border: solid 1px yellow;
}

.NameOfUser {
  font-size: 35px;

  font-family: "Goudy Bookletter 1911", sans-serif;
  width: 350px;
}

.AllInfo {
  display: flex;
}

.imgAndInfo {
  height: 400px;
  width: 50%;
  display: grid;
}

.details {
  font-size: 14px;
  font-weight: bold;
  font-family: "Goudy Bookletter 1911", sans-serif;
  width: 250px;
  float: left;
}

.ExpierDate {
  font-size: 15px;
  margin-top: 20px;
  padding-left: 10px;
}

.EditInfo {
  width: 85px;
  height: 30px;
  font-size: 10px;

  font-weight: bold;
  margin-left: auto;
  margin-right: 100px;
}

.titleSubscription {
  position: relative;
  top: -0.8em;
  margin-left: 1em;
  display: inline;
  background-color: white;
  width: 80px;
  font-size: 13px;
  padding-left: 5px;
}

.mainDetails {
  display: grid;
  text-align: left;

  width: 250px;
  right: auto;
}

.inputModal {
  border-radius: 3px;
  border-bottom: solid rgb(56, 56, 55) 2px;
  font-size: 15px;
  margin-top: 15px;
  height: 30px;
}

.AllInputs {
  display: grid;
  gap: 5px;
  width: 250px;
  margin: auto;
  padding-top: 10px;
}

.closeButton {
  width: 15px;
  height: 30px;
  margin-right: auto;
}

.EnterInfo {
  font-size: 15px;
  width: 80px;
  margin: auto;
}

.inputModalDiseases {
  border: solid rgb(118, 119, 116) 1px;
  border-radius: 3px;
  height: 100px;
}

.lebelDiseases {
  font-size: 17px;
}

.rightDivv{
  display: flex;
  
}