.profileTrainer{
    width: 85%;
    height: 600px;
    background-color: violet;
    margin: auto;
        
}

.sport{
    font-size: 200%;
    margin-left:200px;
    padding-top: 80px;
}

.description{
    font-size: 70%;
    padding-top: 150px;
    padding-left: 100px;
}

.imgDetails{
    margin-left: 400px;
    padding-top: 100px;
}

.imge{
    border-radius: 5px;
}

.details{
    margin-top: 100px;
}

